div {
	width: 500px;
	height: 235px;
	/*background-image: url("../imagens/arvore.png");
	background-repeat: no-repeat;
	background-position: bottom right;
	background-color: #E1EfBB;*/
	margin: 10px;
	background: url("../imagens/arvore.png") no-repeat bottom right #E1EfBB;
	border: 1px dotted #333;
	/*border-bottom-right-radius: 30px;*/
	border-radius: 20px;
	box-shadow: 5px 5px 5px #333;  
}

h1 {
	padding-left: 5px;
	padding-top: 5px;
	margin-bottom: 21px;
	font-size: 25px;
	color: #228b22;
	text-align: center;
	font-family: "Comic Sans MS", Verdana, sans-serif;
	font-variant: small-caps;
}

p {
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 16px;
	/*color: rgb(34,139,34);*/
	color: rgba(34,139,34,0.8);
	letter-spacing: 0.02em;
	word-spacing: 0.2em;
	text-indent: 20px;
}

.destacado {
	text-decoration: underline;
	text-transform: uppercase;
	font-style: italic;
	vertical-align: super;
	font-size: 10px; 
}

ul {
	padding-left: 25px;
	/*list-style-type: disc;*/
	list-style-image: url("../imagens/icone.png");
	list-style-position: inside;
}

ul li {
	height: 20px;
	color: forestgreen;
	font-weight: bold;
}